body {
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.main-area {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side .title-text {
    font-size: 3rem;
    color: rgb(51, 165, 51);
    margin: 0;
}

.left-side .title-text-2 {
    font-size: 2rem;
    color: black;
    font-weight: normal;
    margin: 0;

}

.left-side .subtitle-text {
    font-size: 1rem;
}
.left-side .order-button {
    margin-top: 2rem;
    padding: 10px 40px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: rgb(51, 165, 51);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

}


.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-side * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.food-img {
    background-image: url("images/food1.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.radio-buttons {
    margin-top: 2rem;
}

.radio-buttons * {
    margin-left: 3px;
    margin-right: 3px;

    background-color: rgb(51, 165, 51);
}
